<head>
<!-- refresh the page every sixty seconds -->
<meta http-equiv = "Refresh" content = "60" charset = "utf-8">

<!-- setting some style properties -->
<style>
a:link, a:visited {
	color: gray;
}

table {
	max-width: 600px;
}

h2 {
	font-family: monospace;
	font-size: 20px;
	color: #555;
	text-align: center;
}

body {
	margin-top: 40px;
	background-color: %COLOR%
}

th {
	text-align: left;
}

form {
	color: #555;
}

div {
	text-align: center;
	background-color: white;
	max-width: 800px;
	font-family: monospace;
	font-size: 16px;
	color: #555;
	padding: 25px;
	border-radius: 30px;
}

</style>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

</head>